/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 1.5rem;
    max-width: 420px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.container .hero img {
    width: 420px;
}

.container .text-content {
    padding: 2.5rem;
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 1rem;
}

.subtitle {
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 500;
    padding: 0 1rem 0 1rem;
}

.plan-box {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.left-plan-box {
    display: flex;
}

.left-plan-box img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.left-plan-box div {
    text-align: left;
}

.left-plan-box div h5 {
    font-weight: 900;
    line-height: 1.7;
}

.left-plan-box div p {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
}

.plan-box a {
    color: hsl(245, 75%, 52%);
    font-size: 13px;
    font-weight: 900;
}

.plan-box a:hover {
    color: hsl(245, 79%, 69%);
    text-decoration: none;
}

.container a.proceed-btn {
    display: block;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    filter: drop-shadow(0 12px 7px rgba(7, 23, 255, .245));
    text-decoration: none;
}

.container a.proceed-btn:hover {
    background-color: hsl(245, 79%, 69%);
}

.container a.cancel-btn {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 14px;
}

.container a.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width:429px) {
    body {
        background-image: url('images/pattern-background-mobile.svg');
    }

    .container .hero img {
        height: 190px;
        object-fit: cover;
    }

    .container .text-content {
        padding: 1.5rem;
    }

    .subtitle {
        font-size: 15px;
    }
}